[user]
  name = Jakub Turski
  email = yacoob@gmail.com
[color]
  ui = true
[core]
  excludesfile = ~/.cvsignore
  editor = vim
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[push]
  default = matching
[pull]
  rebase = true
[difftool]
  prompt = false
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  publish = "!git push -u origin $(git branch-name)"
  unpublish = "!git push origin :$(git branch-name)"
  diffc = diff --cached
  push-everywhere = "!git remote | xargs -L1 git push"
  push-all = "!git remote | xargs -L1 git push --all"
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[difftool "winmerge"]
  cmd = winmerge -e -r -u -wl -wr \"$(wslpath -wa ${LOCAL})\" \"$(wslpath -wa ${REMOTE})\"
  trustExitCode = false
[mergetool "winmerge"]
  cmd = winmerge -e -r -u -al -wm -wr \"$(wslpath -wa ${LOCAL})\" \"$(wslpath -wa ${REMOTE})\" \"$(wslpath -wa ${BASE})\" -o \"$(wslpath -wa $MERGED)\"
  trustExitCode = false
[include]
  path = ~/.gitconfig.local
