[color]
	ui = true
[core]
	excludesfile = ~/.cvsignore
[push]
	default = matching
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[include]
# wildcards don't work, but nonexisting files are ignored :|
	path = .gitconfig.osx
  path = .gitconfig.linux
  path = .gitconfig.home
  path = .gitconfig.office
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
