#!/bin/sh
set -eu
{{ if eq .chezmoi.osRelease.id "debian" -}}
set -x
sudo apt update
sudo apt install -y --no-install-suggests --no-install-recommends \
  curl file git less openssh-client pv sudo wget zsh
sudo apt clean
{{ end }}
