"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Jakub Turski"
email = "yacoob@ftml.net"

[signing]
behavior = "own"
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFn7Jo4qNc92Gh/ZmiD87QTqruvA/3XaaLKWkaFPpZR+"
backend = "ssh"
backends.ssh.allowed-signers = "~/.ssh/allowedSigners"

[ui]
default-command = "status"
show-cryptographic-signatures = true

[revset-aliases]
my_work = 'trunk() | present(@) | heads(mine())'

[git]
colocate = true

[remotes.origin]
auto-track-bookmarks = "glob:*"

[templates]
log = "builtin_log_comfortable"
draft_commit_description = '''
  concat(
    coalesce(description, default_commit_description, "\n"),
    surround(
      "\nJJ: This commit contains the following changes:\n", "",
      indent("JJ:     ", diff.stat(72)),
    ),
    "\nJJ: ignore-rest\n",
    diff.git(),
  )
'''
