umask: 0o027
merge:
  command: nvim
  args:
    - "-d"
    - "{{"{{"}} .Destination {{"}}"}}"
    - "{{"{{"}} .Source {{"}}"}}"
    - "{{"{{"}} .Target {{"}}"}}"
data:
  chassisType: {{ if lookPath "hostnamectl" }}{{ (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}{{ else }}unknown{{ end }}
