umask = 0o027

[cd]
command = "fish"

[merge]
command = "nvim"
args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
]

[data]
chassisType = '{{ if lookPath "hostnamectl" }}{{ (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}{{ else }}unknown{{ end }}'
guardedMode = {{ if stat (joinPath .chezmoi.homeDir ".config/chezmoi/guarded-mode") }}true{{ else }}false{{ end }}

[data.install]
{{ $install := dig "install" dict . -}}
{{ if stdinIsATTY -}}
feishin = {{ promptBoolOnce $install "feishin" "Install feishin" }}
lazyvim = {{ promptBoolOnce $install "lazyvim" "Install lazyvim" }}
lm_studio = {{ promptBoolOnce $install "lm_studio" "Install lm_studio" }}
neovide = {{ promptBoolOnce $install "neovide" "Install neovide" }}
obsidian = {{ promptBoolOnce $install "obsidian" "Install obsidian" }}
{{ else -}}
feishin = {{ get $install "feishin" | default false }}
lazyvim = {{ get $install "lazyvim" | default false }}
lm_studio = {{ get $install "lm_studio" | default false }}
neovide = {{ get $install "neovide" | default false }}
obsidian = {{ get $install "obsidian" | default false }}
{{ end -}}
