umask: 0o027
cd:
  command: zsh
merge:
  command: nvim
  args:
    - "-d"
    - "{{"{{"}} .Destination {{"}}"}}"
    - "{{"{{"}} .Source {{"}}"}}"
    - "{{"{{"}} .Target {{"}}"}}"
data:
  chassisType: {{ if lookPath "hostnamectl" }}{{ (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}{{ else }}unknown{{ end }}
  guardedMode: {{ if stat (joinPath .chezmoi.homeDir ".config/chezmoi/guarded-mode") }}true{{ else }}false{{ end }}
