umask = 0o027

[cd]
command = "zsh"

[merge]
command = "nvim"
args = [
    "-d",
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
    {{ printf "%q" "{{ .Target }}" }},
]

[data]
chassisType = '{{ if lookPath "hostnamectl" }}{{ (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}{{ else }}unknown{{ end }}'
guardedMode = {{ if stat (joinPath .chezmoi.homeDir ".config/chezmoi/guarded-mode") }}true{{ else }}false{{ end }}

[data.install]
{{ $install := dig "install" dict . -}}
{{ if stdinIsATTY -}}
feishin = {{ promptBoolOnce $install "feishin" "Install feishin" }}
lm_studio = {{ promptBoolOnce $install "lm_studio" "Install lm_studio" }}
obsidian = {{ promptBoolOnce $install "obsidian" "Install obsidian" }}
{{ else -}}
feishin = {{ get $install "feishin" | default false }}
lm_studio = {{ get $install "lm_studio" | default false }}
obsidian = {{ get $install "obsidian" | default false }}
{{ end -}}

[data.prefetch]
{{ $prefetch := dig "prefetch" dict . -}}
{{ if stdinIsATTY -}}
beets = {{ promptBoolOnce $prefetch "beets" "Prefetch yacoob/beets" }}
interactive = {{ promptBoolOnce $prefetch "interactive" "Prefetch yacoob/interactive:*" }}
{{ else -}}
beets = {{ get $prefetch "beets" | default false }}
interactive = {{ get $prefetch "interactive" | default false }}
{{ end -}}
