#!/bin/sh
set -eu
cd ~/.local/bin
curl https://zyedidia.github.io/eget.sh | sh
eg=~/.local/bin/eget
${eg} BurntSushi/ripgrep
${eg} ClementTsang/bottom -a gnu.tar -f btm
${eg} jesseduffield/lazygit
${eg} junegunn/fzf -a amd64.tar
${eg} newren/git-filter-repo
${eg} sharkdp/bat -a gnu.tar
${eg} sharkdp/fd -a gnu.tar
${eg} starship/starship -a gnu.tar
${eg} watchexec/watchexec -a gnu.tar -a '^b3' -a '^sha512'
${eg} wfxr/forgit -f bin/git-forgit
${eg} Wilfred/difftastic
{{ if .useNvim -}}
  ${eg} neovim/neovim -a appimage
  ln -fs nvim vim
  ln -fs vim vi
{{ else }}
  rm -f vim vi nvim
{{- end }}
