#!/bin/sh
set -eux
b=/home/linuxbrew/.linuxbrew/bin/brew


# install homebrews
${b} install \
  bat \
  bottom \
  chezmoi \
  difftastic \
  eget \
  fd \
  gdu \
  lazygit \
  ripgrep \
  tealdeer \
  ugrep \
  viu \
  watchexec \
  yq

{{ if eq .chezmoi.osRelease.id "aurora" }}
# install homebrews specific to aurora
${b} install \
  direnv \
  gcc \
  strace \
  trash-cli
{{ end }}

# cleanup
${b} cleanup --prune=all --scrub
rm -rf "$(${b} --cache)"
