#!/bin/sh
set -eux


{{ if eq .chezmoi.osRelease.id "debian" }}
  eg=~/.local/bin/eget
  sudo apt install -y --no-install-suggests --no-install-recommends build-essential
  sudo apt clean && sudo apt autoremove -y
  ${eg} neovim/neovim -a appimage --to=~/.appimages/neovim.appimage
  ln -fs ~/.appimages/neovim.appimage ~/.local/bin/nvim
{{ end }}
