#!/bin/sh
set -eu
CHEZMOI_FORCE_INSTALL_LOCAL_BIN_TOOLS=${CHEZMOI_FORCE_INSTALL_LOCAL_BIN_TOOLS:-}
cd ~/.local/bin
eg=~/.local/bin/eget
cp=~/.zsh/completion
mkdir -p ${cp}

# install or update eget
if [ -x ${eg} ]; then
  ${eg} zyedidia/eget
else
  curl https://zyedidia.github.io/eget.sh | sh
fi

# Usage: eget_install user/repo [target_binary_name] [asset_to_download] [tabcompletion_file] ...
# All parameters are positional. Everything past $4 gets passed to eget. tabcompletion_file=`_` is
# ignored, to allow for $5... passthrough.
#
# ...look, it's not a great piece of code, but it works :|
eget_install() {
  repo=$1
  target=${2:-${repo##*/}}
  asset=${3:-}
  completion_file=${4:-}
  extra_args=''
  if [ $# -ge 4 ]; then
    shift 4
    extra_args="$@"
  fi

  if [ ! -x ${target} -o -n "${CHEZMOI_FORCE_INSTALL_LOCAL_BIN_TOOLS}" ]; then
    if [ -n "${asset}" ]; then
      extra_args="${extra_args} -a ${asset}"
    fi
    ${eg} ${repo} -f ${target} ${extra_args}
    if [ -n "${completion_file}" -a "${completion_file}" != "_" ]; then
      ${eg} ${repo} -f ${completion_file} ${extra_args}
      mv ${completion_file} ${cp}/_${target}
    fi
  fi
}

# use eget to install tools that are either too old or not available in Debian stable
eget_install BurntSushi/ripgrep rg
eget_install ClementTsang/bottom btm gnu.tar _btm
eget_install jesseduffield/lazygit
eget_install junegunn/fzf fzf amd64.tar
eget_install sharkdp/bat bat gnu.tar bat.zsh
eget_install sharkdp/fd fd gnu.tar _fd
eget_install starship/starship starship gnu.tar
eget_install watchexec/watchexec watchexec gnu.tar.xz _ -a '^b3' -a '^sha512'
eget_install Wilfred/difftastic difft

# normalize permissions of the tabcompletion files
chmod 640 ${cp}/_*

# symlink vi/vim to neovim if applicable
{{ if .useNvim -}}
eget_install neovim/neovim nvim appimage
ln -fs nvim vim
ln -fs vim vi
{{ else }}
rm -f vim vi nvim
{{- end }}

# maybe install rye
{{ if .pyDev -}}
if [ ! -x ~/.rye/shims/rye ]; then
  curl -sSf https://rye.astral.sh/get | RYE_INSTALL_OPTION="--yes" RYE_TOOLCHAIN=/usr/bin/python3 bash
fi
{{- end }}
