#!/bin/sh
set -eux

{{ if eq .chezmoi.osRelease.id "bazzite" }}
# create the actual interactive distrobox that will be used for the terminal sessions
distrobox stop --all --yes
distrobox rm --force interactive
distrobox create --clone interactive-template --name interactive
distrobox-enter --name interactive -- chsh -s /usr/bin/zsh
distrobox-enter --name interactive -- distrobox-export --bin /usr/bin/zsh

{{ if .useNvim }}
distrobox-enter --name interactive -- distrobox-export --bin /usr/bin/nvim
{{ end }}

{{ end }}
