#!/bin/sh
set -eux


{{ if eq .chezmoi.osRelease.id "debian" }}
sudo apt update
sudo apt install -y --no-install-suggests --no-install-recommends \
  curl file fuse git less openssh-client pv sudo vim-tiny wget zsh
sudo apt clean && sudo apt autoremove -y


{{ else if eq .chezmoi.osRelease.id "aurora" }}
# install homebrews
brew install \
  bat \
  bottom \
  difftastic \
  direnv \
  fd \
  gcc \
  gdu \
  lazygit \
  ripgrep \
  strace \
  tealdeer \
  trash-cli \
  ugrep \
  viu \
  yq
brew cleanup --prune=all --scrub
rm -rf "$(brew --cache)"

# install flatpaks
for f in \
  com.bitwarden.desktop \
  com.calibre_ebook.calibre \
  com.discordapp.Discord \
  com.plexamp.Plexamp \
  com.slack.Slack \
  com.valvesoftware.Steam \
  io.github.martchus.syncthingtray \
  md.obsidian.Obsidian \
  org.speedcrunch.SpeedCrunch \
  org.telegram.desktop \
  org.wezfurlong.wezterm \
  tv.plex.PlexDesktop
do
  flatpak install --system --assumeyes ${f}
done
{{ end }}
