# This container is a no-op - its only role is to fetch specified image and run it with --userns=keep-id
# The convenience of `keep-id` requires a one-time chown per local user running an image this way.
# https://github.com/containers/podman/blob/main/docs%2Ftutorials%2Fperformance.md#choosing-a-storage-driver
#
[Container]
Image=docker.io/library/busybox:latest
Pull=always
UserNS=keep-id
Entrypoint=/bin/true

[Service]
Type=oneshot
# wait till we're "online"
ExecStartPre=/usr/bin/nm-online
# Skip the pull on metered connections.
ExecCondition=/bin/bash -c 'metered=$$(dbus-send --system --print-reply=literal --dest=org.freedesktop.NetworkManager /org/freedesktop/NetworkManager org.freedesktop.DBus.Properties.Get string:org.freedesktop.NetworkManager string:Metered | grep -o ".$$"); [[ ! $$metered =~ (1|3) ]]'

[Install]
WantedBy=default.target
