[Desktop Entry]
NoDisplay=true

[Desktop Action new-window]
NoDisplay=true

[Desktop Action new-tab]
NoDisplay=true

[Desktop Action preferences]
NoDisplay=true
